#container{
    padding: 40px;
    display: flex;
    justify-content: space-evenly;
}
.card{
    width: 350px;
    text-align: center;
}
#login {
    height: 300px;
}
.errors{
    color: red;
    text-align: center;
    list-style-position: inside;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    height: 90px;
}
#body{
    margin: 30px;
}
