<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <title>Document</title>
</head>
<body>
    <div id="container">
        <div id="main_body">
            <div id="person_info">
                <form action="/success" method="post">
                {% csrf_token %}
                <p>
                    Your Name: 
                    <input type="text" name="name" id="">
                </p>
                <p>
                    Dojo Location: 
                    <select name="your_location" id="">
                        {% for location in locations %}
                            <option value="{{ location }}">{{ location }}</option>
                        {% endfor %}
                    </select>
                </p>
                <p>
                    Favorite Language:
                    <select name="fav_language" id="">
                        {% for language in languages %}
                            <option value="{{ language }}">{{ language }}</option>
                        {% endfor %}
                    </select>
                </p>
                <p>
                    Comments (Optional):
                    <textarea name="comment" id="" cols="30" rows="10"></textarea>
                </p>
                <button>Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>