<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <title>Document</title>
</head>
<body>
    <div id="container">
        <div id="add_forms">
            <div id="dojo_form">
                <h1>Add a Dojo</h1>
                <form action="/submit" method="post">
                {% csrf_token %}
                    <p>
                        Name:
                        <input type="text" name="dojo_name" id="">
                    </p>
                    <p>
                        City:
                        <input type="text" name="city" id="">
                    </p>
                    <p>
                        State:
                        <input type="text" name="state" id="">
                    </p>
                    <button>Add</button>
                </form>
            </div>
            <div id="ninja_form">
                <h1>Add a Ninja</h1>
                <form action="/submit" method="post">
                {% csrf_token %}
                    <p>
                        First Name:
                        <input type="text" name="first_name" id="first_name">
                    </p>
                    <p>
                        Last Name:
                        <input type="text" name="last_name" id="last_name">
                    </p>
                    <p>
                        <!-- todo: make a dropdown menu with all the dojos -->
                        Dojo:
                        <input type="text" name="dojo" id="dojo">
                    </p>
                    <button>Add</button>
                </form>
            </div>
        </div>
        <hr>
        <div id="dojo_info">
            <h1>All the Dojos</h1>
            <!-- for loop -->
            {% for dojo in all_dojos %}
            <h3>{{ dojo.name }}</h3>
            <ul>
                <!-- for loop -->
                {% for ninja in all_ninjas %}
                <li> { <ninja class="dojo name"></ninja> }</li>
                {% endfor %}
            </ul>
            {% endfor %}
        </div>
    </div>
</body>
</html>